.app-container{
    display: flex;
 
.left{
    margin-top: 50px;
margin-right: 10px;
    flex: 4; 
    padding: 110px;
    background-color: whitesmoke;
    border: 20px;
    border-radius: 20px;
    box-shadow: 0px 1px 5px rgba(3, 0, 55, 0.08);

    .leftt{

        padding: 100px;
        background: rgb(63,94,251);
        background: -moz-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
        background: -webkit-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
        background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#fc466b",GradientType=1);
        border-radius: 30px;
    }
}
   
   


.right{
    margin-top: 50px;
    margin-left: 10px;

    display: flex;
    flex-direction: column;
  flex: 2;
  background: rgb(131,58,180);
background: -moz-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);

  border: 30px;
    border-radius: 20px;
    box-shadow: 0px 1px 5px rgba(3, 0, 55, 0.08);

    input{
        display: flex;
        font-style:Serif(red serif) ;
        font-weight: bold;
        border-radius: 10px;
        margin-left: 30px;
        border: transparent;


    }
    
    .button{
        background: rgb(34,193,195);
        background: -moz-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
        background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#fdbb2d",GradientType=1);
        padding: 5px;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 65px;
        width: 150px;
        font-weight: bold;
        border: transparent;


    }
    .in{
        margin-top: 40px;
        margin-left: 100px;
        font-weight: bold;
        align-items: center;
    }
    h2{
        margin-top: 40px;
        font-weight: bold;
        margin-left: 40px;

    }

}
}


